body{
    background-image: url(img/pexels-henry-&-co-1939485.jpg);
}
h1{
    color: blue;
    text-align: center;
}
h2{
    background-color: chartreuse;
    text-align: center;
}
p{
    border: 2px black solid;
    color: darkred;
    background-color: darkturquoise;
}